body{
    margin: 0px;
    padding: 0px;
    background: radial-gradient(circle, #ffffff, #8abb90);
    font-family: "EB Garamond", serif;
    perspective: 1000px; /* Adiciona a perspectiva para o efeito 3D */
}

main {
    display: flex;
    justify-content: center; /* Alinha horizontalmente */
    align-items: center;     /* Alinha verticalmente */
    height: 100vh;           /* Altura total da viewport */
   /* border: 2px solid #ff0000; Só para entender certinho até onde vai*/
}

.login-container{
    width: 800px;
    height: 500px;  
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 4px 20px rgb(131, 127, 127);
    overflow: hidden; /*esconder tudo que estiver fora do "Container"*/
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.form-container{
    width: 100%;
    height: 80%;
    display: flex;
    backface-visibility: hidden; /* Oculta a parte de trás do elemento */
}

.form{
    width: 50%;
    height: 100%;
    display: flex; 
    flex-direction: column; /*Mudamos EIXO principal para colunas.*/
    justify-content: center; /* Centralizar itens no eixo Y*/
    justify-content: space-between; /* Incluído espaço entre os "itens"*/
    align-items: center; /* Centralizado o EIXO X */
    padding: 55px;
}

.form-login{
    background-color: #ffffff;
}

.form-register{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #65bd62;
}

h2 {
    display: flex;
    justify-content:center;
    font-size:2rem;
}

.form-social{
    display: flex;
    gap: 25px; /*Comando para separar os social icons*/
}

h4 {
    color: rgb(0, 0, 0);
    text-decoration: underline;
}

.form-inputs{
    display: flex;
    flex-direction: column;
    gap: 10px; /*Espaço entre os elementos inside*/
}

.form-input{
    width: 250px;
    height: 25px;
    background-color: #ffffff;
    border-radius: 30px;
    padding: 10px 20px;
    border-style:none;
    outline: none;
}

.form-input:hover{
    border-style:solid ;
    border-color:#0004;
}

.forgot-password{
    text-decoration:none;
    font-size: 15px;
    color: black;
}

.login-button{
    width: 140px;
    height: 40px;
    font-size:16px;
    color: rgb(255, 255, 255);
    background-color: #65bd62;
    border-radius: 30px;
    box-shadow: 0 4px 4px #0004;
    border-style: none;
    cursor:pointer;
    font-family: "EB Garamond", serif;
}

.login-button:hover{
    background-color: white;
    color: black;
    border: solid #65bd62;
    transition: .5s;
}

.social-icons{
    text-decoration: none;
    width: 50px;
    height: 50px;
    color: #F3F3F3;
    border-radius: 50%;
    display: flex;
    justify-content: center; /*Alinhando ao EIXO X*/
    align-items: center; /*Alinhando ao EIXO Y*/
    font-size: 1.5rem;
    box-shadow: 0 4px 4px #0004;
    background-color: #65bd62;
}

.social-icons:hover{
    background-color: white;
    color: #65bd62;
    box-shadow: 10px 14px 10px #0004;
    transition: .5s; /*Tempo para transição do efeito*/
    transform: translateY(-20%); /*Efeito para subir (quantidade de % é altura*/
}

.register-button{
    width: 200px;
    height: 30px;
    font-size:20px;
    color:  #000000;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.267);
    border-style: none;
    cursor:pointer;
    font-family: "EB Garamond", serif;
}

.title2 {
    color: rgb(0, 0, 0);
}

.register-button:hover{
    background-color: white;
    color: #65bd62;
    transition: .5s;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.267);
}